@model GamesStore.Common.Admin.ViewModels.GameViewModel
<h1 class="text-center">Details</h1>
<hr />
<div>
    <h2 class="text-center">@Model.Name</h2>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="@Model.ImgUrl" width="350" height="400" />
    </div>
    <div class="col-sm-5">
        <h3>Description:</h3>
        <p>@Model.Description</p>
        <br />
        <p><strong>Price : @($"{Model.Price:C0}")</strong></p>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to List</a>
        @{
            if (User.IsInRole("User") && Model.Quantity > 0)
            {
                <a class="btn btn-success" asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id">Add To Cart</a>
            }
            else
            {
                <span class="text-danger"><strong>No Quantity</strong></span>
            }
        }
    </div>
</div>



